<button type="button" 
        class="ml-1"  
        mat-raised-button 
        color="basic" 
        data-toggle="collapse" 
        data-target="#collapseExample"
        matTooltip="{{tootip}}"
        aria-expanded="false" 
        aria-controls="collapseExample">
  <i class="oi oi-data-transfer-upload"></i> Upload
</button>

<div class="upload-zone collapse" id="collapseExample">
  <form #fileUpload="ngForm" class="container" (ngSubmit)="onSubmitFileUpload()">
    <div class="form-group">
      <label for="uploadFile" 
             class="drop-zone {{dragover ? 'dragover' : ''}}"             
             (dragover)="onDragOver($event)"
             (dragleave)="onDragLeave($event)"
             (drop)="onDrop($event)">
        <div class="d-flex justify-content-center drop-text">          
          <div *ngIf="!fileSelected">
              <i class="oi oi-cloud"></i> 
              <a>click or drop file here</a>
          </div>
          <div *ngIf="fileSelected">
              <label>{{uploadFile.name}}</label>
              <a (click)="clearFile()">clear file</a>
          </div>
        </div>
        <input type="file"
             id="uploadFile"
             name="uploadFile" 
             class="form-control" 
             #uploadInput 
             [(ngModel)]="uploadFile" 
             (change)="onFileUploadChange(uploadInput.files)">
      </label>      
    </div>    

    <div class="form-group d-flex justify-content-end">
      <button type="submit" 
              mat-raised-button 
              [disabled]="!fileSelected"
              color="primary">Submit</button>
    </div>
  </form>
</div>