@import "src/variables.scss";

.layout-container {
  
  @media (min-width: 575px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  // mobile
  @media (max-width: 575px) {
    position: fixed;
    width: 100%;
    z-index: 2; 
  }
}

mat-sidenav-container {
  @media (min-width: 575px) {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  // mobile
  @media (max-width: 575px) {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
}

.main-content {
  background-color: #ddd;
  height: 100vh;
  width: 100%;
}


#busy-indicator {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}