<div class="social">
  <p>Use your social network account</p>
  <div class="d-flex flex-column">
    <button class="btn btn-danger">Google</button>
    <button class="btn btn-info">Twitter</button>
    <button class="btn btn-primary">Facebook</button>
  </div>
</div>

<form #signInForm="ngForm" class="login-form">
  <p>Your account</p>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="username">Username</label>
    <div class="col-sm-9">
      <input id="username" 
             name="username"
             type="email"   
             tabindex="1"           
             class="form-control" 
             placeholder="Email address"
             required              
             [(ngModel)]="model.username" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" for="password">Password</label>
    <div class="col-sm-9">
      <input type="password"
             id="password" 
             name="password"
             tabindex="2"
             class="form-control" 
             placeholder="Your password" 
             required
             [(ngModel)]="model.password"
      />
    </div>
  </div>
  <input type="submit"          
         tabindex="3"         
         class="btn btn-warning fa-lg" 
         value="Login" 
         [disabled]="!signInForm.form.valid" 
         (click)="login()"/>

  <div class="login-bar d-flex justify-content-end">    
    <a class="forgotten-password" href="#">Forgotten your password?</a>
  </div>
</form>