.btn {
  border-radius: 0 !important;
  opacity: 0.8;
}

.social {
  color: white;
  border-bottom: solid 1px #ddd;  
  padding-bottom: 10px;
  button {    
    width: 100%;    
    margin: 5px auto;
  }
}

.login-form {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 1px #222;
  color: white;
  
  input[type="email"],
  input[type="password"] {
    color: black;
  }
  input[type="submit"] {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;    
    color: white;
  }

  .login-bar {
    margin-top: 30px;    

    a.forgotten-password {
      color: #eee;

      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }  
}