$bg1: #21A2E1;
$bg2: #123;
$box_max_width: 450px;
$box_bg: rgba(10, 10, 10, 0.1);
$box_bg_disable: rgba(10, 10, 10, 0.2);

.login-container {
  background: radial-gradient(at center bottom, $bg1, $bg2);
  background-size: cover;
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-widget {
    width: 100%;
    max-width: $box_max_width;
    min-height: 480px;
    background-color: $box_bg;
    border: solid 1px rgba(0, 0, 0, .2);
    .login-widget-header {
      display: flex;
      justify-content: center;
      button {
        color: white;
        width: 50%;
        height: 50px;
        border: none;
        background: transparent;
        &:focus {
          outline: 0;
        }
      }
      button.inactive {
        background-color: $box_bg_disable;
      }
    }
    .login-widget-content {
      padding: 30px 30px 20px;
    }
  }
}