@import "src/variables.scss";

.login-container {    
  background: $radial-gradient-bg;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #fefefe;
    text-shadow: 10px 5px 10px #000;
    margin-bottom: 30px;
  }
  
  .login-widget {
    width: 100%;
    max-width: 450px;
    min-height: 620px;
    background-color: rgba(10, 10, 10, 0.1);
    border: solid 1px rgba(0, 0, 0, .2);

    .login-widget-header {
      display: flex;
      justify-content: center;
      button {
        color: white;
        width: 50%;
        height: 40px;
        border: none;
        background: transparent;
        &:focus {
          outline: 0;
        }
      }
      button.inactive {
        background-color: rgba(10, 10, 10, 0.2);
      }
    }
    .login-widget-content {
      padding: 30px 30px 20px;
    }
  }
}